@font-face {
    font-family: "Amiri Quran";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/amiri-quran/amiri-quran-v19-arabic_latin-regular.woff2")
        format("woff2");
}

/* noto-sans-arabic-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Noto Sans Arabic";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/noto-naskh-arabic/noto-sans-arabic-v33-latin-regular.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-arabic-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Noto Sans Arabic";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/noto-naskh-arabic/noto-sans-arabic-v33-latin-700.woff2")
        format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
